@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cinza: #e5e7e9;
  --azul: #92b3eb;
  --lilas: #c0aacc;
  --branco: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}
